.Header {
  background-color: #3AAFA9;
  width: 100vw;
  padding: 0 1em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 6px 6px -6px rgb(0 0 0 / 15%), 0 0 1px -1px rgb(0 0 0 / 10%);
  z-index: 1000;
}
  
.Title {
  color: #17252A;
  text-decoration: none;
  font-size: 1em;
  font-family: 'Lora', serif;
}

.Title:hover {
  color:#DEF2F1;
}

@media screen and (min-width: 768px) {
  .Header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1em;
  }

  .Title {
    margin-left: .5em;
  }
}