.Greeting {
    text-align: center;
    font-size: 2em;
    font-family: 'Lora', serif;
    font-style: italic;
}

.Job {
    font-style: italic;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #17252A;
}

.Job:hover {
    color: #17252A;
    font-weight: 600;
}

.Im {
    display: none;
}

.Name {
    display: none;
}

.Profile {
    margin-bottom: 2em;
}

@media screen and (min-width: 768px) {
    .Greeting {
        display: none;
    }

    .Im {
        font-family: 'Lora', serif;
        font-style: italic;
        font-size: .9em;
        display: block;
        text-align: center;
    }

    .Name {
        display: block;
        text-align: center;
        font-size: 2em;
        font-family: 'Lora', serif;
    }
}
