.Contact___links {
    margin: 1em 0;
    text-align: center;
}

.Contact___links a {
    margin: 0 .7em;
}

.Contact___links svg:hover {
    fill: #17252A;
}

.Contact___links h2 {
    font-size: 2em;
    font-family: 'Lora', serif;
}

.Contact___links h3 {
    margin-bottom: 1em;
}