.Nav {
  justify-content: center;
  align-items: center;
  display: flex;
}

.Nav > ul {
  display: flex;
  align-items: center;
  padding: inherit;
}

.Nav__ul > li {
  margin: 0 .5em;
  position: relative;
  justify-content: center;
  font-family: 'Noto Sans JP', sans-serif;
}

.Nav a {
  align-items: flex-start;
  text-decoration: none;
  color: #17252A;
  font-weight: 500;
}

.Nav a:hover {
  font-style: normal;
  text-decoration: underline;
  color:#DEF2F1;
}

.Nav a::before {
  content: "";
  position: absolute;            
  height: 3px;
  right: 0px;
  bottom: -3px;
  left: 0px;
  background-color: #3AAFA9;
  background: linear-gradient(to right, #FEFFFF 5%, #3AAFA9 30%, #2B7A78 60%);
}

@media screen and (min-width: 768px) {
  .Nav {
    margin: 2px 1em 0px auto;
  }
}