
.Nav {
    display: flex;
    position: fixed;
    height: 30px;
    background-color: rgb(143, 161, 188);
  }
  
.li {
  color: green;
}

  .Nav__ul > li {
    margin: 0 .5em;
    font-style: italic;
  }
  
  .Nav > a:hover {
    font-style: normal;
    text-decoration: underline;
  }