/* NOT BEING USED MAY DELETE */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: coral;
    font-family: monospace;
    position: fixed;
}

.Name {
    color: #17252A;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}

.Nav-link {
    display: flex;
    background-color: plum;
    justify-content: space-around;
    width: 35%;
}

/* .Nav-link ul{
    margin: 0;
    padding: 0;
    display: flex;
} */

.Nav-link li {
    list-style: none;
}

.Nav-link a {
    color: #17252A;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.Nav-button {
    display: none;
    cursor: pointer;
}

.Nav-button div{
    width: 25px;
    height: 5px;
    background-color: blue;
    margin: 5px;
    border-radius: 10px;
}


/* TABLET */
@media screen and (max-width: 1024px) {
    .Nav-link {
        width: 50%;
    }
}


/* MOBILE PHONE */
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .Nav-link {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: plum;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .Nav-link li {
        opacity: 0;
    }

    .Nav-button {
        display: block;
    }

    .Nav-active {
        transform: translateX(0%);
    }
}


