.Project {
  margin: 0 0 2em 0;
}

.Project-Title {
  font-size: 2em;
  font-family: 'Lora', serif;
  text-align: center;
  margin-bottom: .5em;
}

.Project h3 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1.5em;
}

.Project h4 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-size: 1em;
  margin-bottom: .5em;
}

.Project__p {
  margin-top: 1.25em;
}

.Project__ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
  
/* SKILLS BLOCK */
.Project__ul > li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .8em;
  color: #17252A;
  letter-spacing: 1px;
  margin: .2em .2em .1em .2em;
  padding: .4em .7em 0em .7em;
}
  
/* IMAGES */
.Project__img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Project__img:hover {
  -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
  filter: grayscale(20%);
}

.Project div {
  padding-bottom: 0em;
}
  
@media screen and (min-width: 768px) {
  .Project {
    margin: 1em 1em 2em;
  }

  .Project___flexContainer {
    margin: -.8em 0 .5em 2% !important;
    width: 95%;
    display: grid;
    grid-column-gap: 2em;
    grid-template-columns: 50% auto;
    justify-items: right;
    align-items: center;
  }

  .Project__p {
    margin: 2em 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .Project___flexContainer > a {
    width: 90%;
  }

  .Project__img {
    padding: 0 1.5em 5em 2.5em;
    align-items: flex-end;
  }

  .Project__ul {
    margin: -1em 3em 1.25em;
  }
}

@media screen and (min-width: 992px) {
  .Project__img {
    padding: 0;
  }

  .Project__p {
    margin: 2em 2.6em 1em 1em;
  }
}

@media screen and (min-width: 1200px) {
  .Project___flexContainer {
    margin: 1em !important;
    width: 90%;
  }
}