/* CHECK https://visme.co/blog/website-color-schemes/ #24 FOR DESIGN */

/* RESET CERTAIN DEFAULT SETTINGS*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding-left: 0em;
}


/* GLOBAL CSS */
body {
  background-color: #DEF2F1;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #17252A;
}


@media screen and (min-width: 900px) {
  footer > div {
    max-width: 800px;
    margin-top: 7em;
    margin-left: calc((100vw - 800px)/2)
  }
}
  
@media screen and (min-width: 1180px) {
  footer > div {
    margin-left: calc((100vw - 800px)/2 + 1em)
  }
}