/* RESET CERTAIN DEFAULT SETTINGS*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding-left: 0em;
}

/* GLOBAL CSS */
body {
  background-color: #DEF2F1;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #17252A;
}

/* MEDIA FOR PHONE 768PX
MEDIA FOR TABLET 1024PX */