/* GLOBAL CSS */
/* CHECK https://visme.co/blog/website-color-schemes/ #24 FOR DESIGN */
body {
  background-color: #DEF2F1;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

p {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
}




@media screen and (min-width: 900px) {
  footer > div {
    max-width: 800px;
    margin-top: 7em;
    margin-left: calc((100vw - 800px)/2)
  }
}
  
@media screen and (min-width: 1180px) {
  footer > div {
    margin-left: calc((100vw - 800px)/2 + 1em)
  }
}