footer {
  width: 100vw;
  margin: 2em auto;
  padding: 0em;
  display: block;
}
  


  /* footer > div {
    color: #4c4c4c;
    font-size: 1em;
    margin: 2em auto;
  } */
  
.Footer {
    text-align: end;
    justify-content: center;
    width: fit-content;
    font-family: 'Noto Sans JP', sans-serif;
    font-style: italic;
    color: #17252A;
}

