footer {
  width: 100vw;
  margin: 2em auto;
  padding: 0em;
  display: block;
}

.Footer {
  text-align: end;
  justify-content: center;
  width: fit-content;
  font-family: 'Noto Sans JP', sans-serif;
  font-style: italic;
  color: #17252A;
}

@media screen and (min-width: 768px) {
  .Footer {
    margin: 3em auto 2.5em auto;
  }
}
  
@media screen and (min-width: 1180px) {
  .Footer {
    margin: 3em auto;
  }
}